######################################################################
# These owners will be the default owners for everything in the repo #
######################################################################
*       @gdcorp-cp/automation
