######################################################################
# These owners will be the default owners for everything in the repo #
######################################################################
*       @gdcorp-engineering/cloud-automation
